<div class="relative text-gray-500 focus-within:text-gray-400">
  <span class="absolute inset-y-0 right-0 flex items-center pr-2">
    <button
      type="button"
      class="p-1 focus:outline-none focus:shadow-outline"
      (click)="copyEmail()"
    >
      <fa-icon [icon]="clipboardIcon" class="w-6 h-6"></fa-icon>
    </button>
  </span>
  <input
    type="text"
    class="py-2 text-sm w-full text-white bg-gray-900 rounded-md pr-10 pl-3 focus:outline-none focus:bg-gray-950 focus:text-white"
    autocomplete="off"
    [formControl]="email"
  />
  <span
    *ngIf="showContent"
    class="absolute z-10 top-11 right-0 px-3 py-2 text-sm whitespace-nowrap font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm tooltip bg-gray-700"
    >Email copiado!
  </span>
</div>
