<div class="flex gap-4 items-center justify-between w-full">
  <span class="text-gray-400 flex flex-col items-center">
    <p>Auto refresh in:</p>
    <p>{{ countDown | async | formatTime }}</p>
  </span>

  <button
    type="button"
    class="rounded-md p-2 flex items-center justify-center gap-2 bg-green-500 text-gray-800 font-semibold"
    (click)="this.refresh.emit()"
  >
    <fa-icon
      [icon]="refreshIcon"
      class="flex items-center justify-center p-1 text-md"
    ></fa-icon>
    Refresh
  </button>
</div>
