<div
  class="flex flex-col gap-8 items-center justify-center w-screen min-h-screen h-full p-10 bg-gray-800"
>
  <img src="assets/drop-logo.svg" alt="Site logo" class="w-60 max-w-full" />
  <app-text-input
    [address]="this.session?.address"
    class="w-80 max-w-full"
  ></app-text-input>
  <app-refresh-button
    class="w-80 max-w-full"
    [expires]="this.expires"
    (refresh)="this.newSession()"
  ></app-refresh-button>
  <div
    class="flex flex-col justify-center md:flex-row gap-8 md:h-[500px] max-h-full w-[1000px] max-w-full rounded-md"
  >
    <app-mail-list
      [mails]="this.mails"
      (selected)="getSelectedMail($event)"
      class="w-[800px] md:w-[500px] h-[200px] md:h-full max-w-full bg-gray-900 rounded-md transition-all"
    ></app-mail-list>
    <app-mail-box
      class="transition-all"
      *ngIf="!!selectedMail"
      [mail]="selectedMail"
      class="w-full bg-gray-900 rounded-md"
    ></app-mail-box>
  </div>
</div>
